{% extends 'base.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
<div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTxYLQDnhFSu8YEkNdf6JEQ0uRdBYcAIZCuwHOzFgN6A220C2sxzPP-GyqVob2sdSv8pU&usqp=CAU')">
<div class="card">
  <div class="card-body">
  <marquee>
  <h1 class="text-center text-primary"> Envoie reuissit</h1>
     </marquee>
    <h1 class="text-center text-success" >Merci de nous avoir renseigner </h1>
    <h1 class="text-center text-success">notre équipe s'occupera de votre propos</h1> 
  </div>
</div>
</div>
{% endblock %}
