{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container py-5 h-50">
<div class="card bg-dark text-white ">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9LEp3xvvwDANJLGE4u780AVV5EA0Uvy7_dA&usqp=CAU" alt="...">
  <div class="card-img-overlay">
    <h5 class="text-center">Card title</h5>
    <marquee>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
    </marquee>
    <div class="">
     <a href="{{path('app_profile_index')}}" class="btn btn-primary r">Go somewhere</a>
     </div>
  </div>
</div>
</div>

{% endblock %}
