{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
 
  <h1> Résultat de la rcherche</h1>
  <h2 class="my-4"> Nous avons trouvé les articles suivants</h2>
  
     {% for article in articles %}
     <div>
        <h3>{{ article.title }} </h3>
        <div>
         <a href="{{ path('app_articles_show', {'id': article.id}) }}">Consulter le contenu de l'article</a>
        </div>
     </div>
    {% else %}
       <div>
          Aucun articles disponible pour c'est critères de recherche
        </div>
        {% endfor %}
   
{% endblock %}
