{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
  
<div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeQELUFi7i8YFz8eb--cII8mSkiMQzWjKvbA&usqp=CAU')">
 <div class="card">
  <div class="card-header">
    <h1 class="text-center">Les Catégories disponibles</h1>
  </div >
  <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la caégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune catégorie disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
  </div>
</div>
</div>

      
{% endblock %}
  